.center-image {
  margin: 0 auto;
  display: block;
}

#me-photo {
  border: 4px solid #222255;
  max-width: 400px;
  width: 80%;
  height: auto;
}

h2 {
    margin: 12px;
    margin-bottom: 0;
    text-align: center;
}
